/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 26, 2017, 10:02:13 AM
    Author     : eiva
*/

.book_view h3 {
    font-size: 2.8em;    
    margin-top: 0em;
    margin-bottom: 0em;
}

.book_view h4 {
    font-size: 2em;    
    margin-top: 0em;
}

.book_view img {
    width: 150pt;
    height: auto; 
    float: left;
}

.book_view table p {
    padding-left: 20pt;
    font-size: 1.2em;
    text-decoration: none;
    font-weight:normal;
}

.book_view a {
    text-decoration: none;
    color: #ffffff;
}

.book_view_categories p {
    padding-left: 0px;
    font-size: 1.2em;
}

.book_view table {
    text-align: left;
    margin-right: 100px;
}

.book_view_category_tag {
    display: inline;
    padding: 5px;
    margin-right: 5px;
    background-color: #00004d;
}

.book_list h4 {
    margin-top: 0pt;
}

.book_list {
    margin-bottom: 10pt;
}

.book_list h4 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.book_list td {
    vertical-align  : top
}

.book_item {
    width: 100pt;
}

.book_list  td {
    padding-right: 50pt;
}

.book_item h5 {
    font-size: 1.5em;
    margin-top: 0em;
    margin-bottom: 0em;
}

.book_item p {
    font-size: 1em;
    margin-top: 3pt;
    margin-bottom: 0em;
}

.book_item a:visited p {
    text-decoration: none;    
}

.book_item a {
    text-decoration: none;    
}

.book_item img {
    height: 150pt;
    width: auto;
    text-align: center;
}


p {
     font-family: "Tahoma", "Geneva", "sans-serif";
    color: #00004d;
}

h1 {
    font-family: "Tahoma", "Geneva", "sans-serif";
    color: #00004d;
}

h2 {
    font-family: "Tahoma", "Geneva", "sans-serif";
    color: #00004d;
}

h3 {
    font-family: "Tahoma", "Geneva", "sans-serif";
    color: #00004d;
}

h4 {
    font-family: "Tahoma", "Geneva", "sans-serif";
    color: #00004d;
}
h5 {
    font-family: "Tahoma", "Geneva", "sans-serif";
    color: #00004d;
}

h6 {
    font-family: "Tahoma", "Geneva", "sans-serif";
    color: #00004d;
}

a {
    font-family: "Tahoma", "Geneva", "sans-serif";
    color: #00004d;
}

#header {
    top: 5pt;
    padding-left: 15pt;
    padding-right: 15pt;
    height: 20pt;
}

#header #store_name h1 {
    color: #00004d;
    font-size: 3.5em;
    position: relative;
}

#header #store_name {
    width: 300pt
}

#header #store_name img {
    width: auto;
    float: left;
    height: 4em;
}

#header a:visited{
    color: #00004d;
    text-decoration: none;
}

#tfnewsearch{
        float:right;
        padding:20px;
}
.tftextinput{
        margin: 0;
        padding: 5pt 15pt;
        font-family: "Tahoma", "Geneva", "sans-serif";
        font-size:12pt;
        border:1pt solid #00004d; border-right:0pt;
}
.tfbutton {
        margin: 0;
        padding: 5pt 15pt;
        font-family: "Tahoma", "Geneva", "sans-serif";
        font-size:12pt;
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        border: solid 1pt #00004d; border-right:0pt;
        background: #00004d;
        background: -webkit-gradient(linear, left top, left bottom, from(#00004d), to(#00004d));
        background: -moz-linear-gradient(top,  #00004d,  #00004d);
}
/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
  border: 0;
}
.tfclear{
        clear:both;
}

#categories-outer {
    top: 10pt;
    padding-left: 15pt;
    padding-right: 15pt;
}

#categories-outer {
  height: 100%;
  width: 170pt;
  position: absolute;
  z-index: 1;
  top: 100pt;
  left: 15pt;
  background-color: #00004d;
  overflow-x: hidden;
  padding-top: 0pt;
}

#categories-outer h2 {
    font-size: 2em;
    color: #ffffff;
}

#categories-outer {
  color: #ffffff;
}

#categories-outer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.4em;
}

#categories-outer a:visited {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.4em;
}

/* Page content */
.main {
  margin-left: 250pt; /* Same as the width of the sidenav */
  
}

.category {
   margin-top: 7pt;
}

.book_section a {
    text-decoration: none
}

.book_section a:visited {
    text-decoration: none
}

.book_section h3 {
    font-size: 2em;
    margin-top: 0pt;
}

.book_section_item_content{
    padding-left: 120pt;
}

.book_section_item_content h5 {
    font-size: 1.7em;
    margin-bottom: 0pt;
    margin-top:0pt;
}

.book_section_item_content h6 {
    font-size: 1.2em;
    margin-bottom: 0pt;
    margin-top:0pt;
}

.book_section_item img {
    height: 150pt;
    width: automatic; 
    float: left;
}

.book_section_item {
    float: left;
    height: 160pt;
}
